---
export const prerender = false;

import Layout from "~/layouts/Layout.astro";
---

<Layout title="Oh wow, the digital faries handpicked a sutta for me!">
  <div data-content></div>
</Layout>

<script src="src/scripts/initialize.ts" type="module" is:inline defer></script>
<script src="src/scripts/handlers.ts" type="module" is:inline defer></script>
